################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/DockerTraining
/packages
**/website/bin
*.user
**/website/obj
